# Local history
.history/

# Github
assets/
.github/

# ESlint config
eslint.config.mjs

# Packaged builds
builds/

# NPM
# No dependencies needed
package-lock.json

# Tests
tests/

# TypeScript source
src/
tsconfig*.json
scripts/